<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="description" content="math">

  <title>Postal Rate Calculator - Week09</title>

</head>
<body>

<h1>Postal Rate Calculator - Results</h1>

<br/>
    
<p> Sending a "<%= postageType %>" that weighs <%= weight %> will cost <%= result %> </p>
    
<br/>

</body>
</html>